@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include flexCenter;
  background-color: $primary-color;
  color: $text-color;
}

.main {
  width: 80%;
  margin: 0 auto;

  // with sass nesting is written differently than in pure css
  // #{&}__paragraph is the sass shortcut of .main .main__paragraph in css
  #{&}__paragraph {
    font-weight: weight(regular);
  }

  &:hover {
    color: #ff652f;
    font-style: italic;
  }
}
