@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background-color: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

body {
  background-color: $primary-color;
  color: $text-color;
}

.main {
  // @include flexCenter(column);
  @include flexCenter(row);
  width: 80%;
  margin: 0 auto;

  // with sass nesting is written differently than in pure css
  // #{&}__paragraph is the sass shortcut of .main .main__paragraph in css
  #{&}__paragraph {
    font-weight: weight(regular);

    &:hover {
      color: #ff652f;
      font-style: italic;
    }
  }
}

.light {
  @include theme($light-theme: true);
}
